<header style="text-align: center">
    
     
    
    {% for nav in site.html_pages %}
        {% if nav.name == 'index.html' %}
     <a href="{{ nav.url }}" class="siteHeader">{{ site.title }}</a>
        <div>Software developer. Musician. Audio Engineer</div>
        {% endif %}
    {% endfor %}
    
    {% for nav in site.html_pages %}
     
     {% if nav.name != 'index.html' %}
        <a href="{{ nav.url }}">{{ nav.title }}</a>
     {% endif %}
    {% endfor %}
    
    <div style="height: 30px"></div>
    <div class="separator"></div>
</header>