

.postText{
    font-family: 'Raleway', sans-serif;
}

.siteHeader{
    margin: auto;
    color: #800!important;
    text-decoration: none!important;
    padding-top: 30px;
    display: inline-block;
    font-size: 50px

}

.siteHeader:hover{
    color: #888!important;
}

.separator{
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
}